<ul class="list-group">
  <li class="list-group-item"
  (click)="setCurrentCategory()" [ngClass]="getCurrentCategoryClass()" routerLink="/products">All Products</li>
  <li class="list-group-item" [ngClass]="getCurrentCategoryClass(category)"
      (click)="setCurrentCategory(category)"
      *ngFor="let category of categories"
      routerLink="/products/category/{{category.categoryId}}">
    {{category.categoryName}}
  </li>
</ul>

<h5 *ngIf="currentCategory">{{currentCategory.categoryName}}</h5>
